extends layout 

include mixins/_reviewForm 
include mixins/_review 

block content 
    //- pre= h.dump(store.reviews)
    .single     
        .single__hero
            //- display uploaded image or default img 
            img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
            h2.title.title--single 
                a(href=`/stores/${store.slug}`) #{store.name}

    .single__details.inner 
        //- h is added to locals in app.js... globally available
        img.single__map(src=h.staticMap(store.location.coordinates))
        p.single__location= store.location.address 
        p= store.description
        
        if store.tags   
            ul.tags 
                each tag in store.tags 
                    li.tag 
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text #{tag} 
        if user  
            //-  check if user has already submitted a review (only allow 1 review per user)
            - const authorIdStrings = store.reviews.map(obj => obj.author._id.toString());
            - const hasReviewed =  authorIdStrings.includes(user._id.toString())
            if !hasReviewed
                +reviewForm(store)
            if hasReviewed 
                p You have reviewed this store. Only 1 review per store allowed for each user.
        else 
            p
                span.heart-sml
                    != h.icon("heart")
                span Love this place? 
                a(href='/login') Login 
                span to leave a review.            

        if (store.reviews.length !== 0) 
            .reviews 
                each review in store.reviews 
                    .review
                        +review(review)

        else 
            p No reviews for this store yet.
        

