extends layout 

include mixins/_reviewForm 
include mixins/_review 

block content 
    //- pre= h.dump(store)
    //- pre= h.dump(reviews)
    .single     
        .single__hero
            //- display uploaded image or default img 
            img.single__image(src=`/uploads/${store.photo || 'store.png'}`)
            h2.title.title--single 
                a(href=`/stores/${store.slug}`) #{store.name}

    .single__details.inner 
        //- h is added to locals in app.js... globally available
        img.single__map(src=h.staticMap(store.location.coordinates))
        p.single__location= store.location.address 
        p= store.description
        
        if store.tags   
            ul.tags 
                each tag in store.tags 
                    li.tag 
                        a.tag__link(href=`/tags/${tag}`)
                            span.tag__text #{tag} 
        if user     
            +reviewForm(store)

        if store.reviews 
            .reviews 
                each review in store.reviews 
                    .review
                        +review(review)
    //- .inner
    //-     //- check if user has already submitted a review (only allow 1 review per user)
    //-     - const authorIdStrings = reviews.map(obj => obj.author._id.toString())
    //-     if user 
    //-         - const hasReviewed = authorIdStrings.includes(user._id.toString())
    //-         if (!hasReviewed)
    //-             +reviewForm()
    //-         if (hasReviewed)
    //-             p You have already made a review. Only 1 review allowed per user
    //-     else
    //-         p
    //-             != h.icon("heart")
    //-             span Love this place? 
    //-             a(href='/login') Login 
    //-             span to leave a review
    //- .inner
    //- if (reviews.length) 
    //-     each review in reviews
    //-         - const whenCreated = h.moment(review.created).fromNow()
    //-         .review
    //-             .review__header
    //-                 .review__author= review.author.name
    //-                 .review__stars= review.rating
    //-                 .review__time= whenCreated
    //-             .review__body
    //-                 p= review.review

    //- else 
    //-     div No reviews yet.
        

